# Common
.venv/
__pycache__/
node_modules/

# IDE and OS specific files
.DS_Store
*.log
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
*.local
.env
.env*

# Optional: Backend-specific
# You may leave these out since backend gitignore already has them
# .idea
# .vscode/*

# Optional: Frontend-specific
# dist/
# dist-ssr/

